<!DOCTYPE html>
<html>
<head>
    <title>Secure Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="card">
        <div class="icon">🔐</div>
        <h2>Welcome back</h2>
        <p>Please enter your credentials to access your dashboard.</p>

        <form method="POST">
            <label>USERNAME</label>
            <input type="text" name="username" placeholder="name@company.com" required>

            <div class="row">
                <label>PASSWORD</label>
                <a href="#">Forgot password?</a>
            </div>
            <input type="password" name="password" placeholder="password" required>

            <button type="submit">Sign In →</button>
        </form>

        <p class="footer">
    Don't have an account? <span>Contact Support</span>
</p>

<hr>

<div class="admin-access">
    <a href="/admin/logs">Admin Access</a>
</div>

    </div>
</div>

</body>
</html>
